footer {
    background-color: var(--main-color);
    color: white;
    display: flex;
    margin-top: 15px;
}

footer h4 {
    font-size: 24px;
    font-weight: bold;
}

.info-ent {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ul {
    display: flex;
    flex-direction: column;
}

#newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#newsletter input {
    border: 0;
    height: 37px;
    padding: 5px;
    border-radius: 5px;
}

#newsletter #btn-nl {
    background-color: var(--second-color);
}

.footer-right {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

#copyright {
    display: flex;
    justify-content: center;
    border-top: 1px solid;
    padding: 20px 0;
}

#logo-footer {
    width: 300px;
    font-size: 60px;
}

footer .logo-ezdev span {
    font-size: 65px;
}

footer .logo-ezdev {
    font-size: 38px;
    margin-top: 20px;
}