form.form {
    display: flex;
    flex-direction: column;
    width: 500px;
    min-height: 300px;
    border-radius: 30px;
    color: var(--main-color);
    padding: 25px;
    margin: 0 auto;
}

form.form a {
    text-decoration: underline;
}

form.form .radios input {
    margin-right: 10px;
    position: relative;
    top: 2px;
}

form.form .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form.form .row .input,
form.form .row label {
    width: 48%;
}

form.form label {
    cursor: pointer;
}

form.form input {
    margin-bottom: 15px;
}

form.form input[type="text"],
form.form input[type="email"],
form.form input[type="password"],
form.form input[type="number"],
form.form input[type="tel"],
form.form textarea {
    width: 100%;
    padding: 5px;
    min-height: 40px;
}

form.form #teacher_inputs {
    display: none;
}

form.form #teacher_inputs.show {
    display: block;
}

form.form #teacher_inputs #languages {
    margin: 15px 0 25px;
    display: grid;
    text-align: center;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

form.form #teacher_inputs #languages .language_logo {
    cursor: pointer;
}

form.form #teacher_inputs i {
    display: inline;
    font-size: 50px;
    padding: 10px;
    margin: 0 auto;
    color: #888;
}

form.form #teacher_inputs .language_logo:hover i {
    color: var(--second-color);
}

form.form #teacher_inputs .selected i {
    color: var(--second-color);
    text-shadow: 1px 1px 1px #666;
}

form.form .avatar_box {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

form.form .avatar {
    width: 50px;
    margin-right: 15px;
}

form.form #input-file {
    width: auto;
    margin-bottom: 0;
}