@import url('https://fonts.googleapis.com/css?family=Poppins');

/** navbar */

nav {
    height: 60px;
    background-color: var(--main-color);
}

.logo-ezdev {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: white;
}

#menu a {
    color: white;
}

#menu-flex {
    display: flex;
    height: 60px;
}

#menu {
    display: flex;
    width: 1200px;
    justify-content: flex-end;
}

header nav {
    margin-bottom: 15px;
}

header nav ul {
    width: 550px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

#signin {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: white;
    color: var(--main-color)
}

#menu .fa-user-circle {
    margin-right: 5px;
}

.logo-ezdev {
    margin-top: 5px;
    font-size: 21px;
    line-height: 100%;
}

.logo-ezdev span {
    text-shadow: 4px 0 0 var(--second-color);
    font-size: 35px;
    /* text-shadow: 1px 1px 0px var(--second-color); */
    font-weight: bold;
    position: relative;
    left: -1px;
    display: inline-block;
    margin-right: 5px;
}

#menu .admin_icon {
    background-color: #FFF;
    display: inline-block;
    width: 30px;
    height: 30px;
    padding-top: 2px;
    text-align: center;
    border-radius: 15px;
    font-size: 18px;
    color: var(--second-color);
    margin-right: 10px;
}