@import url('https://fonts.googleapis.com/css?family=Poppins');

/** navbar */

nav {
    height: 50px;
    background-color: #092e52;
}

#logo-ezdev {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: white;
}

#menu a {
    color: white;
}

#menu-flex {
    display: flex;
    height: 50px;
}

#menu {
    display: flex;
    width: 1200px;
    justify-content: flex-end;
}

ul {
    width: 500px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

#signin {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: white;
    color: #092e52
}