#jumbotron {
    margin-top: -15px;
    background-image: url('../img/ban.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 660px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#message h1 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 45px;
    text-shadow: 1px 1px 1px var(--second-color)
}

.search-bar {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.search-bar input {
    width: 500px;
    height: 60px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-indent: 10px;
}

.btn-search {

    background-color: var(--second-color);
    height: 60px;
    width: 150px;
    color: white;
    font-size: 16px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
}

#marketing {
    /*     background-color: rgba(9, 46, 82, 0.5);
    border-radius: 10px; */
    padding: 150px 150px;
}

/** best teachers*/

.session-title {
    margin-top: 40px;
    margin-bottom: 30px;
    color: var(--main-color)
}

#boxes-teacher {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 20px;
}

.box-teacher {
    display: flex;
    height: 350px;
    width: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.teacher-img,
.box-same-teacher {
    overflow: hidden;
    /*     min-height: 350px; */
}

.teacher-img img,
.box-img-same img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* .info-teacher {
    display: flex;
} */

.btn-more-teachers {
    background-color: var(--second-color);
    height: 60px;
    width: 230px;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#button-more {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

/* session language */
#all-language {
    background-color: #F8F8F8;
    display: flex;
}

.boxes-lg {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 20px;
}

.box-lg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-lg:hover {
    color: var(--second-color);
}

.name-lg {
    margin-bottom: 40px;
}

.img-lg i {
    font-size: 100px;
    margin-bottom: 20px;
}

/* FORM SEARCH */
#languages_list {
    display: none;
    width: 500px;
    border-radius: 0 0 5px 5px;
    background-color: #FFF;
    padding: 5px;
    margin-top: -3px;
    position: absolute;
    z-index: 50;
}

#languages_list.show {
    display: block;
}

#languages_list .language i {
    width: 25px;
}

#languages_list .language {
    font-size: 18px;
    border-bottom: 1px solid #e5e5e5;
    padding: 3px 0;
    cursor: pointer;
    text-transform: capitalize;
}

#languages_list .language:last-of-type {
    border-bottom: 0;
}

#languages_list .language:hover {
    color: var(--second-color);
}