#info-img-teacher img {
    height: 400px;
}

#info-name-teacher {
    font-size: 24px;
    font-weight: bold;
}

#info-desc-teacher p {
    font-size: 20px;
    margin-bottom: 25px;
}

.all-info {
    display: flex;
}

.title-info {
    margin-top: 50px;
    margin-bottom: 40px;
}

.link-feedback-teacher {
    margin-top: 20px;
    margin-bottom: 40px
}

.link-feedback-teacher a {
    color: orange;
    font-weight: bold
}

.section-right-teacher {
    margin-left: 200px;
}

#btn-contact-teacher {
    background-color: #092e52;
    color: white;
    padding: 20px 60px;
    margin-bottom: 40px;
    cursor: pointer;
}

.info-languages-teacher ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.link-feedback-teacher {
    font-size: 18px;
}

.info-languages-teacher h2 {
    display: block;
    width: 100%
}

#info-logo-lg i {
    font-size: 60px;
    color: orange;
}

hr {
    border-top: 1px solid orange
}

/**more teachers */
.all-boxes-same {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-between;
}

.all-boxes-same>a {}

.box-same-teacher {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 260px;
}

.box-img-same {
    width: 300px
}

/* .info-teacher-same {
    display: flex;
    flex-direction: column;
} */
.info-teacher-same {
    width: 100%;
}

.box-img-same img {
    height: 300px;
    /*     width: 250px */
}

.box-name-same {
    margin-top: -50px;
    background-color: white;
    padding: 0 10px;
    display: flex;
    justify-content: center;
}

.box-name-same h3 {
    margin-bottom: 0;
}

.box-lg-same {
    margin-top: 25px;
    width: 100%;
}

.box-lg-same ul {
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    color: orange;
    align-items: center;
    flex-wrap: wrap;
}

.box-lg-same ul li {
    padding: 0 10px;
    width: 20%;
}