#info-img-teacher img {
    height: 400px;
    box-shadow: 0px 1px 8px #999;
}

#info-img-teacher {
    width: 300px;
}


#info-name-teacher {
    font-size: 24px;
    font-weight: bold;
}

#info-desc-teacher p {
    font-size: 20px;
    margin-bottom: 25px;
}

.all-info {
    display: flex;
}

.title-info {
    margin-top: 50px;
    margin-bottom: 40px;
}

.link-feedback-teacher {
    margin-top: 20px;
    margin-bottom: 40px
}

.link-feedback-teacher a {
    color: var(--second-color);
    font-weight: bold
}

.section-right-teacher {
    margin-left: 200px;
}

#btn-contact-teacher {
    background-color: var(--main-color);
    color: white;
    padding: 20px 60px;
    margin-bottom: 40px;
    cursor: pointer;
}

.info-languages-teacher ul {
    display: flex;
    align-items: center;
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.info-languages-teacher li {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    align-items: center;
}

.link-feedback-teacher {
    font-size: 18px;
}

.info-languages-teacher h2 {
    display: block;
    width: 100%
}

#info-logo-lg i {
    font-size: 60px;
    color: var(--second-color);
}

hr {
    border-top: 1px solid var(--second-color)
}

/**more teachers */
.all-boxes-same {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    justify-content: space-between;
}

.all-boxes-same>a {
    margin-bottom: 50px;
}

.box-same-teacher {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 260px;
    box-shadow: 0px 1px 8px #999;
    padding-bottom: 8px;
}

/* .box-img-same {
    width: 300px
} */

/* .info-teacher-same {
    display: flex;
    flex-direction: column;
} */
.info-teacher-same {
    width: 100%;
    height: 59px;
}

.box-img-same img {
    height: 290px;
    /*     width: 250px */
}

.box-name-same {
    /*     margin-top: -50px; */
    background-color: white;
    padding: 0 10px;
    display: flex;
    justify-content: center;
}

.box-name-same h3 {
    margin-bottom: 0;
}

.box-lg-same {
    display: none;
    margin-top: 15px;
    width: 100%;
}

.box-lg-same ul {
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    color: var(--second-color);
    align-items: center;
    flex-wrap: wrap;
}

.box-lg-same ul li {
    padding: 0 10px;
    width: 20%;
}

.info-reviews-teacher a {
    color: var(--main-color)
}

.section-right-teacher .box-rate-review {
    font-size: 25px;
}

.section-right-teacher h2 {
    margin-bottom: 0;
}

.info-reviews-teacher a:hover {
    color: var(--second-color)
}