<script type="module" src="/js/index.js"></script>
<div id="jumbotron">
    <div class="wrapper jumbo">
        <div id="marketing">
            <div id="message">
                <h1>FIND YOUR TEACHER AND START LEARNING</h1>
            </div>
            <div class="search-bar">
                <form method="get" action="/teachers" id="search_form">
                    <input autocomplete="off" id="search_language" type="text" name="language"
                        placeholder="React, PHP, SQL, Python...">
                    {{!-- <input type="hidden" value="" id="id_language" /> --}}
                    <button id="btn_language" class="btn-search">SEARCH</button>
                    <div id="languages_list">
                        {{#each languages}}
                        <div class="language">{{{this.logo}}} <span class="lang_name">{{this.name}}</span></div>
                        {{/each}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<section id="best-teachers">
    <div class="wrapper">
        <div class="session-title">
            <h2>Our best teachers</h2>
        </div>

        {{> best_teachers}}

        <div id="button-more">
            <a href="/teachers"><button class="btn-more-teachers">MORE TEACHERS</button></a>
        </div>
    </div>
</section>

<section id="all-language">
    <div class="wrapper">
        <div class="session-title">
            <h2>The languages we teach</h2>
        </div>
        <div class="boxes-lg">
            {{#each languages}}
            <div class="box-lg">
                <div class="img-lg">
                    {{{this.logo}}}
                </div>
                <div class="name-lg">
                    <h4>{{this.name}}</h4>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>