<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EZ DEV</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    {{!-- {{#if needAJAX}} --}}
    <script type="module" src="https://unpkg.com/axios/dist/axios.min.js"></script>
    {{!-- {{/if}} --}}
    {{#each js}}
    <script type="module" src="/js/{{this}}.js"></script>
    {{/each}}
</head>

<body>
    <header>
        {{>navbar}}
    </header>
    {{> flashMessage }}
    {{{body}}}
</body>

</html>