<div class="box-rate-review">
    <div class="rating star">
        <div class="yellow">
            {{#forloop teacher.averageRate}}
            <i class="fa fa-star star-selected"></i>
            {{/forloop}}
        </div>
        <div class="grey">
            {{#forloop 5}}
            <i class="fa fa-star"></i>
            {{/forloop}}
        </div>
    </div>
</div>