<footer>
    <div class="wrapper">
        <div class="info-ent">
            <div id="logo-footer">
                {{> logo}}
            </div>
            <div class="footer-right">
                <div class="footer-info">
                    <h4>ABOUT</h4>
                    <ul>
                        <li><a href="javascript:;">About us</a></li>
                        <li><a href="javascript:;">Job offers</a></li>
                        <li><a href="javascript:;">Blog</a></li>
                        <li><a href="javascript:;">Medias</a></li>
                    </ul>
                </div>
                <div class="status">
                    <h4>INFORMATIONS</h4>
                    <ul>
                        <li><a href="javascript:;">Contact us</a></li>
                        <li><a href="javascript:;">Terms of use</a></li>
                        <li><a href="javascript:;">Confidentiality</a></li>
                    </ul>
                </div>
                <div id="newsletter">
                    <h4>FOLLOW US</h4>
                    <div>
                        <input type="text" placeholder="Your e-mail address">
                        <button id="btn-nl">SUBSCRIBE</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="copyright">
            <span>Copyright by <strong>Yannick Bourenane</strong> & <strong>Pierre Etryhard</strong></span>
        </div>
    </div>
</footer>