<select name="id_teachers" id="teachers" class="select" multiple>
    <option value="-1" disabled selected>Choose a category</option>
    {{#each teachers}}
    <option value="{{this._id}}">{{this.firstname}} {{this.lastname}}</option>
    {{/each}}
</select>