<nav>
    <div class="wrapper">
        <div id="menu-flex">
            {{> logo}}
            <div id="menu">
                <ul>
                    {{#if isAdmin}}
                    <a href="/admin" class="admin_icon" title="Admin panel"><i class="fas fa-user-lock"></i></a>
                    {{/if}}
                    <a href="/auth/signup/teacher">
                        <li>BECOME A TEACHER</li>
                    </a>
                    <a href="/teachers">
                        <li>FIND YOUR TEACHER</li>
                    </a>
                    {{#unless isLoggedIn}}
                    <a href="/auth/signin">
                        <li id="signin">SIGN IN</li>
                    </a>
                    {{/unless}}
                    {{#if isLoggedIn}}
                    <a href="/auth/edit/{{user._id}}" title="Edit profile">
                        <i class="fa fa-user-circle"></i>{{user.firstname}} {{user.lastname}}
                    </a>
                    <a href="/auth/signout" title="Logout"><i class="fas fa-sign-out-alt"></i></a>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
</nav>