<nav>
    <div class="wrapper">
        <div id="menu-flex">
            <div id="logo-ezdev">
                <a href="/home"><span>EZDEV</span></a>
            </div>
            <div id="menu">
                <ul>
                    <a href="#">
                        <li>BECOME A TEACHER</li>
                    </a>
                    <a href="#">
                        <li>LEARN AN IT LANGUAGE</li>
                    </a>
                    <a href="/auth/signin">
                        <li id="signin">SIGN IN</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</nav>